.section{
    margin: 0 auto;
    background-color: aqua;
    width: 500px;
    height: 500px;
    border-radius: 25%;
    .name{
        text-align: center;
    }
    .textbox01{
        list-style:none;
        padding-left:0px;
    }

}